# Archivos del sistema
.DS_Store
Thumbs.db
*.swp
*.swo
*~

# Editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Node (si en el futuro se agrega)
node_modules/
npm-debug.log
yarn-error.log

# Archivos temporales
*.tmp
.temp/
